.table-row-image {
	height: 40px;
	width: 40px;
	border-radius: 10px;
}

.minus-button2 {
	background-color: #e66060;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.noCandidates {
	text-align: center;
}
